<div>

  <h4>Edita un libro</h4>


  <form action="/books/{{details._id}}/edit" method="POST">

    {{!-- <input type="text" name="_id" value="{{details._id}}" style="display: none"> --}}
    {{!-- en este caso no es buena practica, pero podemos enviar informacion adicional oculta. Algo que no llena el usuario --}}

    <label for="title">Titulo:</label>
    <input type="text" name="title" value="{{details.title}}">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description" value="{{details.description}}">
    <br>
    <label for="author">Autor:</label>
    <input type="text" name="author" value="{{details.author}}">
    <br>
    <button type="submit">Editar</button>

  </form>

</div>